---
import { type CollectionEntry, getCollection } from "astro:content";
import AgentsHunt from "../../layouts/AgentsHunt.astro";
import AgentCard from "../../components/AgentCard.astro";

const { title = "Agents Hunt" } = Astro.props;
// 使用astro:content获取集合
const allPosts = await getCollection("agents");
// 过滤出非草稿状态的帖子，并可能基于其他条件如标签等进行过滤
const agents = allPosts
  .filter(({ data }) => !data.draft)
  .sort((a, b) => new Date(b.data.date) - new Date(a.data.date));
---

<AgentsHunt title="Agents Hunt">
  <h1>Agents Hunt</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {
      agents.map(agent => (
        <AgentCard
          key={agent.url}
          title={agent.data.title}
          description={agent.data.description}
          slug={agent.data.slug}
        />
      ))
    }
  </div>
</AgentsHunt>
